<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path(@list.image_url) %>);">
  <div class="container">
    <h1> <%= @list.name %> </h1>
    <p>Press the round + to add movie to list!</p>
  </div>
</div>


<div class="d-flex flex-wrap justify-content-start align-items-start">
    <% @list.bookmarks.each do |bookmark| %>
       <div class="card-product m-2 relative align-items-start">
          <img src= <%= bookmark.movie.poster_url %> />
          <div class="card-product-infos flex-grow-1">
            <h2> <%= bookmark.movie.title %> </h2>
            <p><strong>Rating: </strong> <%= bookmark.movie.rating %> </p>
            <p> <%= bookmark.comment %> </p>
          </div>
          <%= link_to bookmark_path(bookmark), method: :delete, class: 'delete-btn' do %>
            <i class="fas fa-backspace"></i>
          <% end %>
        </div>
    <% end %>
    <div class="card-add-container relative">
       <div class="card-add m-2 d-flex justify-content-center align-items-center">

          <%= link_to new_bookmark_path do %>
            <i class="fas fa-plus " style="font-size: 40px;"> </i>
          <% end %>
        </div>
    </div>
</div>
